/*
* {
  border: 1px solid red;
}*/
#wrapper {
        width: 1024px;
        padding-top: 5px;
		margin: 20px auto;
}
#left_box {
    float: left;
    padding: 10px;
    width: 260px;

}
#right_box {
    float: right;
    padding: 10px;
    width: 724px;

}
/* ---- Start of Vertical Menu Section ---- */

.vert {
	clear: both;
	height: auto;
	float: left;
	margin: 0px 5px 5px 5px;
	width: 212px;
}
.vert ul{
	font-family: arial,helvetica,sans-serif;
	margin: 0;
    padding:0;
	font-size: 21px;
    text-align: right;
	text-decoration: none;
}
.vert ul li {
	border-bottom: 1px solid #0A8BC5;
	background-color: #FFFFFA;
	/*margin-bottom: 1px; */
	list-style:none;
	position: relative;
}
.vert ul li a {
	display: block;
	color: #000000;
	padding-right: 0.2em;
	text-decoration: none;
	
}
.vert ul li a:hover {
	background-color: #2F3597;
	color:#FFF !important;
	text-decoration:none;
}
.vert ul li a.active {
	background-color:#2F3597;
	color:#FFF;
	text-decoration:none;
}
/* New vert Config  */
.vert ul ul {
    display: none;
    top: 0;
    position: absolute;
    left: 214px;
    width: 185px !important;
	border: 1px solid #0A8BC5 !important;
	text-align: center;
} 
.vert li:hover ul {
    display: block;
    position: absolute;
	margin: 0;
	padding: 0;
} 

.menu_div {
	clear: both;
	height: auto;
	float: left;
	margin: 0px 5px 5px 5px;
	width: 212px;
}
.menu_div ul
{
    padding:8px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    /*text-align: right; */
    text-indent:15px;
    background:#333333;
} 
.menu_div ul li
{
    background:#333333;
    line-height:28px;
    border-bottom:1px solid #000;
}
.menu_div ul li a
{
    text-decoration:none;
    color:#FFF;
    display:block;
}
.menu_div ul li a:hover
{
    background:#3ea5ea;
}
.menu_div ul li#active
{
    background:#3ea5ea;
}

.menu_div ul ul {
    display: none;
    top: auto;
    position: absolute;
    left: 415px;
    width: 185px !important;
	border: 1px solid #000 !important;
	text-align: center;
} 
.menu_div li:hover ul {
    display: block;
    position: absolute;
	margin: 0;
	padding: 0;
}
